<section id="main">
	<div class="inner clearfix">
		<div class="menu left">
			<ul>
				<li>
					<a href="#">
						<span class="account"></span>
						My account
					</a>
				</li>
				<li>
					<a href="#">
						<span class="notification"></span>
						Notification
					</a>
				</li>
				<li>
					<a href="#">
						<span class="request"></span>
						My Request
					</a>
				</li>
				<li>
					<a href="#">
						<span class="archive"></span>
						Archive
					</a>
				</li>
				<li>
					<a href="#">
						<span class="service"></span>
						Terms of Service
					</a>
				</li>
				<li>
					<a href="#">
						<span class="logout"></span>
						Log out
					</a>
				</li>
			</ul>
		</div>
		<div class="form left">
			<h2>Main</h2>
			<form>
				<div class="form-group left">
					<input type="text" placeholder="Name:">
					<input type="text" placeholder="Surname:">
					<button>Change Information</button>
				</div>
				<div class="form-group left">
					<input type="tel" placeholder="Phone:">
					<input type="email" placeholder="E-mail:">
					<button>Change Password</button>
				</div>
			</form>
		</div>
		<div class="submenu right">
			<ul>
				<li><a href="#"><span class="main"></span>Main</a></li>
				<li><a href="#"><span class="avatar"></span>Avatar</a></li>
				<li><a href="#"><span class="contacts"></span>Contacts</a></li>
				<li><a href="#"><span class="location"></span>Location</a></li>
				<li><a href="#"><span class="notification"></span>Notification</a></li>
				<li><a href="#"><span class="payment"></span>Payment</a></li>
				<li><a href="#"><span class="intellectuals"></span>Intellectuals</a></li>
			</ul>
		</div>
	</div>
</section>