<section id="main" class="inner clearfix">
	<div id="menu">
		<ul>
			<li class="active"><a href="#"><span class="ico account_ico"></span> My account</a></li>
			<li><a href="#"><span class="ico notification_ico"></span> Notification</a></li>
			<li><a href="#"><span class="ico request_ico"></span> My Request</a></li>
			<li><a href="#"><span class="ico archive_ico"></span> Archive</a></li>
			<li><a href="#"><span class="ico service_ico"></span> Terms of Service</a></li>
			<li><a href="#"><span class="ico logout_ico"></span> Log out</a></li>
		</ul>
	</div>
	<div id="submenu">
		<ul>
			<li class="active"><a href="#"><span class="ico main_ico"></span>Main</a></li>
			<li><a href="#"><span class="ico avatar_ico"></span>Avatar</a></li>
			<li><a href="#"><span class="ico contacts_ico"></span>Contacts</a></li>
			<li><a href="#"><span class="ico location_ico"></span>Location</a></li>
			<li><a href="#"><span class="ico notification_ico"></span>Notification</a></li>
			<li><a href="#"><span class="ico payment_ico"></span>Payment</a></li>
			<li><a href="#"><span class="ico intellectuals_ico"></span>Intellectuals</a></li>
		</ul>
	</div>
	<div class="content_section">
		<h2>Main</h2>
		<form>
			<div class="form-group left">
				<input type="text" placeholder="Name:">
				<input type="text" placeholder="Surname:">
				<button>Change Information</button>
			</div>
			<div class="form-group left">
				<input type="tel" placeholder="Phone:">
				<input type="email" placeholder="E-mail:">
				<button>Change Password</button>
			</div>
		</form>
	</div>
</section>
