body
	font-family: HelveticaNeue, Arial, Helvetica, sans-serif
.inner
    max-width: 1117px
    min-width: 300px
    margin: 0 auto
.clearfix
    &:after
        content: ""
        display: block
        height: 0
        clear: both
.left 
    float: left
.right
    float: right
a
	text-decoration: none
li
	list-style: none
